body{
    font: normal 16px/1.5 "Noto Sans","Nanum Gothis", sans-serif;
    color: black;
    background: white;

}
header{
    background: url("../images/img-bg-header.png") center/cover;
    height: 100vh;
}

a, a:link{
    text-decoration: none;
    color: white;
}
/*******************header*********************/
.header-main{
    width: 100%;
    padding: 20px 0;
}
.header_main_wrap{
    width: 1366px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.header_main_wrap img {
    margin: 30px 0 0 0;
}
.header_main_menu {
    display: flex;
}
nav{
    align-self: flex-end;
    font-size: 1.2rem; /*24px*/
    margin: 0 15px 0 0;
}

hr.divider{
    border: 0;
    height: 1px;
    background: white;
}
#gnb{
    display: flex;
}
#gnb li {
    margin-left: 60px;
}

#burger{
    width: 40px;
    height: 30px;
    align-self: flex-end;
}
#burger .bar{
    display: block;
    height: 3px;
    background: white;
    margin: 8px 0;
}
#burger .bar.w70{
    margin: 0 0 0 30%;
}

/********header solgan***********/

.slogan-text{
    font-family: Sanchez;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 1366px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.slogan-text :nth-child(1){
font-size: 4rem;
}
.slogan-text :nth-child(2){
font-size: 2.25rem;
}
/**************************main section************/
.section_hr{
    margin: 20px auto;
    width: 1366px;
    border: 0;
    height: 1px;
    background: rgb(82, 82, 82); 
    margin-top: 80px;
}

.p_text{
    text-align: center;
    font-size: 3rem;
    margin: 30px auto;
    font-family: 'Sanchez', serif;
}

.section_notice{
    background: url(/images/img_main_notice.png);
    height: 938px;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    
}
.notice_wrap{
    position: absolute;
    background-color: #6EBAD5;
    width: 683px;
    margin-left: 277px;
    height: 938px;
}
.notice{
    position: absolute;
    bottom: 10%;
    width: 80%;
    background-color: #3B2121;
    margin: 30px;
    padding: 30px;
    height: 327px;
}
.notice_text{
    font-size: 80px;
    font-family: NanumGothic;
    font-weight: 800;
    font-size: 80px;
    line-height: 80px;
    color: #FFFFFF;
    margin: 70px auto;
}
.notice_text{
    padding: 20px;
}
.notice_text1{
    text-align: left;
}
.notice_text2{
    text-align: center;
}
.notice_text3{
    text-align: right;
}
.notice ul h2{
    font-size: 30px;
    margin: 10px;
    color: white;
}
.notice li{
    margin-left: 30px;
    list-style: circle;
    font-size: 18px;
    margin-bottom: 20px;
}